<?xml version='1.0' encoding='utf-8'?>
<widget id="com.benkesmith.phonegap.app" version="1.8.72" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>PhoneGap</name>
    <description>
        PhoneGap Developer app
    </description>
    <author email="info@benkesmith.com" href="https://benkesmith.com">
        Benke Smith
    </author>
    <hook src="resources/script/before-test-runner.js" type="before_prepare" />
    <hook src="resources/script/after-test-runner.js" type="after_prepare" />
    <hook src="resources/script/copy-android-push-icon.js" type="before_build" />
    <hook src="resources/script/add-version.js" type="before_build" />
    <hook src="resources/script/remove-version.js" type="after_compile" />
    
	<preference name="StatusBarStyle" value="default" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access origin="*.youtube.com" />
    <access origin="*.benkesmith.com" />
	<access origin="*"/>
    <allow-navigation href="*" />
    <allow-intent href="*" />
	<platform name="ios">
	  <allow-intent href="itms:*" />
	  <allow-intent href="itms-apps:*" />
    </platform>

	
    <content src="index.html" />
    
	<platform name="ios">
        <preference name="Orientation" value="all" />
        <preference name="AutoHideSplashScreen" value="false" />

		<preference name="permissions"                value="none"/>
		<preference name="phonegap-version"           value="cli-9.0.0" />
		<preference name="target-device"              value="universal" />
		<preference name="Fullscreen"                 value="true" />
		<preference name="webviewbounce"              value="false" />
		<preference name="prerendered-icon"           value="false" />
		<preference name="stay-in-webview"            value="true" />
		<preference name="ios-statusbarstyle"         value="black-opaque" />
		<preference name="detect-data-types"          value="true" />
		<preference name="exit-on-suspend"            value="true" />
		<preference name="show-splash-screen-spinner" value="false" />
		<preference name="auto-hide-splash-screen"    value="true" />
		<preference name="SplashScreenDelay"          value="3000" />
		<preference name="deployment-target"		  value="9.0" />
		<preference name="StatusBarOverlaysWebView"   value="false" />
		<preference name="backgroundColor"            value="0x00000000" />
		<preference name="EnableViewportScale"        value="true" />
		<preference name="Suppresses3DTouchGesture"   value="true" />
		<preference name="Allow3DTouchLinkPreview" value="false" />
		<preference name="SuppressesIncrementalRendering" value="true" />
		<preference name="AllowInlineMediaPlayback" value="true" />
		<preference name="CameraUsesGeolocation" value="false" />

        <icon height="167" src="resources/icon/ios/icon-83.5@2x.png" width="167" />
        <icon height="76" src="resources/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="resources/icon/ios/icon-76@2x.png" width="152" />
        <icon height="72" src="resources/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="resources/icon/ios/icon-72@2x.png" width="144" />
        <icon height="60" src="resources/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="resources/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" src="resources/icon/ios/icon-60@3x.png" width="180" />
        <icon height="50" src="resources/icon/ios/icon-50.png" width="50" />
        <icon height="100" src="resources/icon/ios/icon-50@2x.png" width="100" />
        <icon height="40" src="resources/icon/ios/icon-40.png" width="40" />
        <icon height="80" src="resources/icon/ios/icon-40@2x.png" width="80" />
        <icon height="120" src="resources/icon/ios/icon-40@3x.png" width="120" />
        <icon height="57" src="resources/icon/ios/icon.png" width="57" />
        <icon height="114" src="resources/icon/ios/icon@2x.png" width="114" />
        <icon height="29" src="resources/icon/ios/icon-small.png" width="29" />
        <icon height="58" src="resources/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="resources/icon/ios/icon-small@3x.png" width="87" />
        <icon height="1024" src="resources/icon/ios/icon-1024.png" width="1024" />
        <splash height="480" src="resources/splash/ios/Default~iphone.png" width="320" />
        <splash height="960" src="resources/splash/ios/Default@2x~iphone.png" width="640" />
        <splash height="1024" src="resources/splash/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="resources/splash/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="768" src="resources/splash/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="1536" src="resources/splash/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="1136" src="resources/splash/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="resources/splash/ios/Default-667h.png" width="750" />
        <splash height="2208" src="resources/splash/ios/Default-736h.png" width="1242" />
        <splash height="1242" src="resources/splash/ios/Default-Landscape-736h.png" width="2208" />
    </platform>


	<plugin name="cordova-plugin-battery-status" />
    <plugin name="cordova-plugin-camera">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Camera used for development purposes" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-device-motion" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-geolocation">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value="Geolocation used for development purposes" />
    </plugin>
    <plugin name="cordova-plugin-globalization" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-insomnia" />
    <plugin name="cordova-plugin-media">
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-media-capture">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Camera used for development purposes" />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value="Microphone used for development purposes" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Photo library used for development purposes" />
    </plugin>
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-screen-orientation" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-vibration" />
    <plugin name="cordova-plugin-x-socialsharing" />
    <plugin name="phonegap-plugin-barcodescanner">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Camera used for development purposes" />
    </plugin>
    <plugin name="phonegap-plugin-contentsync" />
    <plugin name="phonegap-plugin-mobile-accessibility" />
    <plugin name="phonegap-plugin-push">
        <variable name="FCM_VERSION" value="11.0.1" />
    </plugin>
    <plugin name="cordova-plugin-whitelist" />

    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-bluetoothle" />
	<plugin name="cordova-plugin-ios-longpress-fix" />
    <plugin name="cordova-force-app-close" />
    <plugin name="cordova-plugin-proximity-sensor" />
	<plugin name="cordova.plugins.diagnostic" />
	<plugin name="cordova-plugin-hide-home-indicator" />
	<plugin name="cordova-plugin-save-image" />
	<plugin name="cordova-pebble" source="npm"/>

	<plugin spec="https://github.com/ragcsalo/cordova-plugin-tts.git" source="git" />
	<!-- <plugin spec="https://github.com/ragcsalo/cordova-save-image-gallery.git" source="git" /> -->
	<plugin spec="https://github.com/ragcsalo/cordova-plugin-statusbar.git" source="git" />
	<plugin spec="https://github.com/katzer/cordova-plugin-local-notifications.git" source="git" />

    <plugin spec="https://github.com/ragcsalo/cordova-plugin-ble-central.git" source="git">
        <variable name="BLUETOOTH_USAGE_DESCRIPTION" value="Scan for Bluetooth Low Energy Peripherals" />
    </plugin>

    <plugin spec="https://github.com/ragcsalo/cordova-plugin-universal-links.git" source="git" />

<universal-links>
    <host name="benkesmith.com" scheme="https" event="bs_myUrlEvent">
      <path url="/specurl/*" />
    </host>
    <ios-team-id value="JPPF2RU5E5" />
</universal-links>


</widget>
